.login-heading {
    font-size: 30px;
    line-height: 1.2em;
    color: #264796;
}

.login-form {
    .login-input {
        border: none;
        border-bottom: 2px solid #C7C8CA;
        background-color: transparent;
    }
    .ant-input-affix-wrapper > input.ant-input {
        background-color: transparent;
    }
    .submit-btn {
        background-color: transparent;
        width: 150px;
    }
}
