.wrap {
    width: 100%;
    min-height: 100vh;
    background-color: #F9FAFC;
}

.top-nav {
    img {
        width: 70px;
    }
    .logo-text {
        font-size: 16px;
        margin: 0;
        line-height: 1.2em;
        text-transform: uppercase;
        font-weight: 700;
    }
}

.application-form {
    position: relative;
    .form-card {
        margin-bottom: 50px;
        padding: 20px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
        .bg-text {
            position: absolute;
            bottom: 30px;
            right: 30px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 10em;
            line-height: 0.9em;
            font-weight: 800;
            color: #ebebeb;
        }
        .form-heading {
            text-align: center;
            font-size: 30px;
            font-weight: 700;
            text-decoration: underline;
        }
        .ant-form-vertical .ant-form-item-label > label {
            font-size: 16px;
        }
        .ant-input {
            font-size: 16px;
        }
        .ant-picker {
            font-size: 16px;
            width: 100%;
        }
        .section-heading {
            font-size: 24px;
        }
        .switch-box {
            text-align: right;
        }
        .captcha {
            .numbers-box {
                font-size: 50px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
        }
    }
    .review-card {
        margin-bottom: 50px;
        .user-img-box {
            text-align: center;
        }
        .form-heading {
            font-size: 30px;
            font-weight: 700;
        }
        .additional-section-heading {
            font-size: 18px;
            font-weight: 700;
        }
        .text-info {
            font-size: 16px;
            color: #777777;
            font-weight: 600;
            .value {
                font-weight: 700;
                color: #4A4A4A;
            }
        }
    }
}
