.section-header {
    font-size: 24px;
    margin: 0;
}

.custom-btn {
    color: #000000;
    font-size: 16px;
    height: 42px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 5px;
}

.custom-bordered-btn {
    color: #000000;
    border: 2px solid #000000;
    background-color: transparent;
    font-size: 16px;
    height: 42px;
    font-weight: 600;
    border-radius: 5px;
}

.top-special-navbar {
    background-color: #F3F2EE;
}

/* Main navbar */
.main-navbar {
    font-size: 16px;
    .logo-text {
        font-size: 24px;
        margin: 0;
        line-height: 1.2em;
    }
    .menu-label {
        text-transform: uppercase;
    }
    .phone-text {
        font-size: 16px;
    }
    .covid {
        background-color: #0091FF;
        border-color: #0091FF;
    }
    .mail {
        border-color: #264796;
    }
    .vurtual-reception {
        background-color: #264796;
        &:hover {
            color: #ffffff;
        }
    }
    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
        background-color: #F3F2EE;
    }
}

.ant-menu-vertical .ant-menu-item:not(:last-child),
.ant-menu-vertical-left .ant-menu-item:not(:last-child),
.ant-menu-vertical-right .ant-menu-item:not(:last-child),
.ant-menu-inline .ant-menu-item:not(:last-child) {
    margin: 0;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
    border: none;
}

.ant-menu-vertical > .ant-menu-item,
.ant-menu-vertical-left > .ant-menu-item,
.ant-menu-vertical-right > .ant-menu-item,
.ant-menu-inline > .ant-menu-item,
.ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
    height: 30px;
}

.ant-menu-vertical .ant-menu-item,
.ant-menu-vertical-left .ant-menu-item,
.ant-menu-vertical-right .ant-menu-item,
.ant-menu-inline .ant-menu-item,
.ant-menu-vertical .ant-menu-submenu-title,
.ant-menu-vertical-left .ant-menu-submenu-title,
.ant-menu-vertical-right .ant-menu-submenu-title,
.ant-menu-inline .ant-menu-submenu-title {
    margin-top: 0;
}
/* Main navbar end */

.ant-carousel {
    .slick-slide {
        text-align: center;
        height: 160px;
        line-height: 160px;
        background: #364d79;
        overflow: hidden;
        position: relative;
        h3 {
            color: #fff;
        }
        .carousel-caption {
            width: 400px;
            border-radius: 0;
            text-align: justify;
            position: absolute;
            left: 0;
            bottom: 0;
            background: rgba(242, 236, 237, 0.9);
        }
    }
    .slick-dots {
        width: 100px;
        left: 130px;
        li {
            button {
                height: 15px;
                width: 15px;
                border-radius: 3px;
                border: 2px solid #000;
                margin: 0;
            }
        }
        li.slick-active {
            width: 15px;
            button {
                background: rgba(0, 0, 0, 0.85);
            }
        }
    }
}

.find-faculty-section {
    background-color: #e2efec;
    .section-header {
        text-transform: uppercase;
        line-height: 1.2em;
    }
    .ant-select {
        color: #000000;
    }
    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
        border: none;
        border-bottom: 2px solid #000000;
        background-color: transparent;
    }
    .custom-select {
        width: 100%;
    }
    .custom-bordered-btn {
        float: right;
        width: 130px;
        &:hover {
            color: #ffffff;
            border-color: #ffffff;
            background-color: transparent;
        }
    }
}

.news {
    .header-section {
        background-color: #F3F2EE;
    }
    .news-card,
    .announcement-card {
        border: none;
        .text {
            border-left: 8px solid #E2EFEC;
            font-size: 16px;
        }
        .time {
            color: rgba(0, 0, 0, 0.5)
        }
    }
    .announcement-card {
        .text {
            border-left: 8px solid #B8DCEE;
        }
    }
}

.events {
    background-color: #30415F;
    color: #ffffff;
    .section-header {
        color: #ffffff;
    }
    .ant-tabs {
        width: 100%;
        color: #ffffff;
        .ant-tabs-tab {
            color: #ffffff;
            &:hover {
                color: #ffffff;
            }
        }
        .ant-tabs-ink-bar {
            background-color: #ffffff;
            height: 5px;
        }
        .ant-tabs-nav .ant-tabs-nav-wrap {
            justify-content: flex-end;
        }
    }
    .event-card {
        background-color: transparent;
        border: none;
        position: relative;
        background-color: rgba(0, 0, 0, 0.85);
        .ant-card-cover {
            margin: 0;
        }
        .ant-card-body {
            padding: 0;
        }
        .text-box {
            width: 100%;
            height: 100%;
            bottom: 0;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.4);
            .title {
                position: absolute;
                bottom: 0;
                color: #ffffff;
                padding: 0 10px;
                font-size: 16px;
                text-align: center;
                line-height: 1.2em;
            }
        }
    }
    .custom-bordered-btn {
        color: #ffffff;
        border-color: #ffffff;
        &:hover {
            color: #000000;
            border-color: #000000;
            background-color: transparent;
        }
    }
}

.services {
    .header-section {
        background-color: #F3F2EE;
    }
    .servive-card {
        min-height: 150px;
        .ant-card-body {
            padding: 0;
        }
        img.bg {
            position: absolute;
            bottom: 0;
            right: 0;
        }
        .title {
            position: absolute;
            bottom: 10px;
            font-size: 24px;
            margin: 0;
        }
    }
}

.videos {
    .header-section {
        background-color: #F3F2EE;
    }
    .ant-tabs {
        width: 100%;
        color: #000000;
        .ant-tabs-tab {
            font-size: 16px;
            color: #000000;
            &:hover {
                color: #000000;
            }
        }
        .ant-tabs-ink-bar {
            background-color: #ACDACA;
            height: 5px;
        }
        .ant-tabs-nav .ant-tabs-nav-wrap {
            justify-content: flex-end;
        }
    }
    .video-box {
        overflow: hidden;
        font-size: 16px;
        .poster {
            overflow: hidden;
            position: relative;
            img {
                width: 100%;
            }
            .play-box {
                display: flex;
                justify-content: center;
                align-items: center;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                position: absolute;
                background-color: transparent;
                transition: 150ms ease-in;
                img {
                    width: 40px;
                    opacity: 0;
                }
            }
            &:hover {
                .play-box {
                    background-color: rgba(0, 0, 0, 0.3);
                    img {
                        opacity: 1;
                    }
                }
            }
        }
        .time {
            color: rgba(0, 0, 0, 0.5);
        }
    }
}

.students {
    .header-section {
        background-color: #F3F2EE;
    }
    .ant-tabs {
        width: 100%;
        color: #000000;
        .ant-tabs-tab {
            font-size: 16px;
            color: #000000;
            &:hover {
                color: #000000;
            }
        }
        .ant-tabs-ink-bar {
            background-color: #ACDACA;
            height: 5px;
        }
        .ant-tabs-nav .ant-tabs-nav-wrap {
            justify-content: flex-end;
        }
    }
    .student-card {
        border: none;
        text-align: center;
        .ant-card-cover {
            display: flex;
            justify-content: center;
            .cover-img {
                width: 150px;
                border-radius: 50%;
                overflow: hidden;
            }
        }
        .ant-card-body {
            padding-bottom: 0;
        }
        .student-name {
            font-size: 16px;
            color: #264796;
            line-height: 1.2em;
        }
        .description {
            line-height: 1em;
            font-size: 14px;
        }
    }
    .react-multi-carousel-list {
        padding-bottom: 50px;
        .react-multiple-carousel__arrow {
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: transparent;
            color: #000000;
            &::before {
                color: #000000;
            }
        }
        .react-multiple-carousel__arrow--right {
            left: 50px;
        }
    }
}

.footer-social-network {
    background-color: #E2EFEC;
}

.footer-info {
    color: rgba(0, 0, 0, 0.5);
    .address {
        margin: 0;
        color: #000000;
    }
}

.ant-drawer-body {
    padding: 0;
}

.sidebar-btn {
    width: 100%;
    border-radius: 0;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #F3F2EE;
}

.ant-menu-vertical > .ant-menu-item,
.ant-menu-vertical-left > .ant-menu-item,
.ant-menu-vertical-right > .ant-menu-item,
.ant-menu-inline > .ant-menu-item,
.ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
    height: 40px;
}
